﻿@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');

body {
    font-family: 'PT Sans', sans-serif;
    color: #FF9910;
}


.img {
    max-width: 100%;
    transition: all 0.3s ease-out 0s;
}

.f-left {
    float: left
}

.f-right {
    float: right
}

.fix {
    overflow: hidden
}

a,
.button, button {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;

    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

    a:focus,
    .button:focus {
        text-decoration: none;
        outline: none;
    }

button {
    cursor: pointer
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
    color: #FBBA42;
    text-decoration: none;
}

a,
button {
    color: #ff9010;
    outline: medium none;
}

input:focus, textarea:focus, :focus {
    outline: 0
}

button:focus {
    outline: 0 none;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    color: #333333;
    margin-top: 0px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
}

    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a {
        color: inherit;
    }

h1 {
    font-size: 40px;
    font-weight: 500;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none
}

p {
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    font-weight: normal;
    line-height: 30px;
    color: #777777;
    margin-bottom: 15px;
}

hr {
    border-bottom: 1px solid #eceff8;
    border-top: 0 none;
    margin: 30px 0;
    padding: 0;
}

label {
    color: #7e7e7e;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

*::-moz-selection {
    background: #d6b161;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

*::-moz-placeholder {
    color: #555555;
    font-size: 14px;
    opacity: 1;
}



.btn {
    -moz-user-select: none;
    background: #ff9010 none repeat scroll 0 0;
    border: 1px solid transparent;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    font-family: pt sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.1;
    padding: 20px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    border: 0;
}

    .btn:hover {
        color: #222
    }

        .btn:hover:before {
            width: 100%;
            color: #444
        }

    .btn.brand-btn {
        background: #fbba42;
        color: #222
    }

        .btn.brand-btn:hover {
            background: #2f3440;
            color: #fbba42
        }

    .btn.btn-2 {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: 1px solid #fbba42;
        line-height: 1;
        padding: 17px 35px;
    }

        .btn.btn-2:hover {
            border-color: #2f3440
        }

    .btn i {
        margin-right: 10px;
    }
.mt-50 {
    margin-top: 50px;
}
textarea {
    width: 100%;
}
input[type=range] {
    -webkit-appearance: none;
    height: 5px;
    width: 80%;
    cursor: pointer;
    background: #FF9010;
    margin: 10px 5px;
    border-radius: 3px;
}
/* 

  2. header 

*/

.scroll-header {
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    background: #f8f8f8 none repeat scroll 0 0;
    opacity: .9;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.header-menu {
    left: 0;
    position: absolute;
    right: 0;
    z-index: 999;
}

.logo {
    margin-top: 34px;
    margin-left: 0;
}

.main-menu-area {
    border-bottom: 1px solid #EEEEEE;
    background: #fefefe none repeat scroll 0 0;
    padding: 0 59px;
    opacity: .9;
}



.main-menu ul li {
    display: inline-block;
    position: relative;
}

    .main-menu ul li:hover {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }

    .main-menu ul li > a {
        color: #343434;
        display: block;
        font-family: 'PT Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding: 38px 25px;
    }

    .main-menu ul li:hover > a {
        color: #c9b711;
        font-weight: 700;
    }





/* 


3. slider 


*/
.slider-wrapper {
    background-image: url(img/slider_new_new.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    align-items: center;
    display: flex;
}

.slider-content h1 {
    color: #fff;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 90px;
}

.slider-content p {
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 30px;
    line-height: 30px;
    font-style: italic;
}

.slider-content > a {
    background-color: #c9b711;
    color: #fff;
    display: inline-block;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 15px 38px;
    position: relative;
    text-transform: capitalize;
    transform: perspective(1px) translateZ(0px);
    transition: color 0.3s ease 0s;
    vertical-align: middle;
}

    .slider-content > a:hover {
        color: #fff;
    }

    .slider-content > a::before {
        background: #333333 none repeat scroll 0 0;
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform: scaleX(0);
        transform-origin: 50% 0 0;
        transition-duration: 0.3s;
        transition-property: transform;
        transition-timing-function: ease-out;
        z-index: -1;
    }

    .slider-content > a:hover::before {
        transform: scaleY(1);

    }

/* 


5. Work_caesar (my-resume)



*/

.my-resume-content h1 {
    color: #222222;
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 18px;
    margin-top: 0;
    margin-bottom: 25px;
    line-height: 80px;
    padding-left: 45px;
}

    .my-resume-content h1 span {
        color: #FF9010;
    }

.sidebar {
    border-right: 1px solid #cccccc;
}

.autor {
    padding: 20px 20px 0 0;
}

    .autor img {
        border: 8px solid #FF9010;
        max-width: 100%;
        border-radius: 50%;
    }

.my-resume-tabs li {
    margin-bottom: 30px;
    margin-right: 10px;
}

    .my-resume-tabs li a {
        display: block;
        color: #444;
        background-color: #eee;
        font-weight: 600;
        padding: 22px 25px;
        line-height: 1;
        position: relative;
        font-size: 22px;
    }



.nav-item i {
    margin-right: 15px;
}

.my-resume-tabs li a.active {
    background: #FF9010;
    color: #222;
    border-color: #FF9010;
}


.my-resume-tabs li a:hover {
    background: #FF9010;
}

.content {
    margin-left: 15px;
    padding-bottom: 30px;
    line-height: 30px;
}

    .content h3 {
        font-weight: 700;
        font-family: pt sans;
        color: #222222;
    }

    .content h5 {
        margin: 15px 0;
        font-weight: 700;
        font-family: pt sans;
        font-style: italic;
        color: #FF9010;
    }

    .content p {
        margin: 25px 0 0 0;
        font-weight: 400;
        font-family: pt sans;
        font-size: 16px;
        line-height: 30px;
        color: #666666;
    }

.trad-mark p {
    padding: 20px 0 0 0;
    font-size: 62px;
    font-weight: 700;
    font-style: italic;
    color: #eee;
}

/* 5.1 progress */


    .skill-part h3 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 20px;
    }

        .skill-part h3 span {
            font-size: 18px;
        }

.progress {
    overflow: visible;
    height: 12px;
    margin-bottom: 30px;
    background: #efefef;
}

.progress-title {
    display: block;
    margin: 0 0 15px;
    font-size: 18px;
    font-weight: 700;
    color: #333333;
}

.progress-bar {
    position: relative;
    background-color: #FF9010;
    position: relative;
    z-index: 176;
    border-radius: 10px;
    border-width: 0px;
    height: 12px;
}

    .progress-bar > span {
        position: absolute;
        display: block;
        top: -35px;
        right: 0;
        font-size: 18px;
        color: #565656;
        font-weight: 700;
    }


