﻿
@{
    ViewBag.Title = "Encrypt";
}

<div class="my-resume-area fix gray-bg pt-100 pb-100">
    <div class="container">
        <div class="my-resume">
            <div class="row ">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12 pb-40">
                    <div class="my-resume-wrapper text-left">
                        <div class="my-resume-content">

                            <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">      Caesar <span>cipher.</span></h1>

                        </div>
                    </div>
                </div>

                <div class="container m-2 text-center">
                    <h2>Результаты зашифровки</h2><hr />
                    <h4>Текст был зашифрован с ключом <strong>@ViewBag.Key</strong></h4>
                    <div class="border p-2 mb-3 bg-white">
                        <p>@ViewBag.Text</p>
                    </div>
                    <h3 class="pb-2">Вы можете скачать результат:</h3>
                    @using (Html.BeginForm("Download", "WorkResult", FormMethod.Post))
                    {

                        <input name="shift" type="hidden" value="@ViewBag.Key">
                        <button class="btn btn-lg mt-auto" type="submit">Скачать</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

