﻿
@{
    ViewBag.Title = "KeySearch";
}

<div class="my-resume-area fix gray-bg pt-100 pb-100">
    <div class="container">
        <div class="my-resume">
            <div class="row ">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12 pb-40">
                    <div class="my-resume-wrapper text-left">
                        <div class="my-resume-content">

                            <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">      Caesar <span>cipher.</span></h1>

                        </div>
                    </div>
                </div>

                <div class="container m-2 text-center">
                    <h2>Результаты поиска</h2><hr />
                    <h4>Наиболее подходящим ключом оказался <strong>@ViewBag.Keys[0]</strong></h4>
                    <div class="container">
                        <div class="row row-flex p-2">
                            <div class="col-md-1">
                                @ViewBag.Keys[0]
                            </div>
                            <div class="col m-block">
                                <p>@Course_work_22_04.Models.Caesar.Shift(ViewBag.Text, -ViewBag.Keys[0])</p>
                            </div>
                            <div class="col-md-1">
                                @using (Html.BeginForm("Download", "WorkResult", FormMethod.Post))
                                {
                                    <input name="shift" type="hidden" value="@(-ViewBag.Keys[0])">
                                    <button type="submit" class="btn btn-lg mt-auto">Dowload</button>
                                }
                            </div>
                        </div>
                    </div>

                    <h4>Другие варианты:</h4>
                    @for (int i = 1; i < ViewBag.Keys.Length; i++)
                    {
                        <div class="container">
                            <div class="row row-flex p-3">
                                <div class="col-md-1">
                                    @ViewBag.Keys[i]
                                </div>
                                <div class="col m-block">
                                    <p>@Course_work_22_04.Models.Caesar.Shift(ViewBag.Text, -ViewBag.Keys[i])</p>
                                </div>
                                <div class="col-md-1">
                                    @using (Html.BeginForm("Download", "WorkResult", FormMethod.Post))
                                    {
                                        <input name="shift" type="hidden" value="@(-ViewBag.Keys[i])">
                                        <button type="submit" class="btn btn-lg mt-auto">Dowload</button>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
