﻿@{
    ViewBag.Title = "Contact";
}

<div class="my-resume-area fix gray-bg pt-100 pb-100" id="resume">
    <div class="container">
        
                <div class="col-xl-12 col-lg-12 col-md-12 col-12 pb-40">
                    <div class="my-resume-wrapper text-left">
                        <div class="my-resume-content">

                            <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">      Caesar <span>cipher.</span></h1>

                        </div>
                    </div>
                </div>
                
                <h2>Ссылки на разработчика:</h2>
                <div class="row mt-3 mb-3">
                    <a class="ml-3" href="https://vk.com/vce_dovolno_prosto" target="_blank"><img src="~/Content/img/vk.png"></a>
                    <a class="ml-3" href="https://www.instagram.com/vce_dovolno_prosto/" target="_blank"><img src="~/Content/img/inst.png"></a>
                    <a class="ml-3" href="https://bitbucket.org/vce_dovolno_prosto/" target="_blank"><img src="~/Content/img/bitbucket.png"></a>
                </div>

                <p><b>Поддержка:</b> <a href="mailto:79174083991@mail.ru">79174083991@mail.ru</a></p>
                
            </div>
      
</div>