﻿@{
    ViewBag.Title = "Home Page";
}
<div class="slider-area fix" id="homes">
    <div class="slider">
        <div class="slider-wrapper ">
            <div class="container">
                <div class="row">
                    <div class="slider-content">
                        <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">Hello! I'm Caesar</h1>
                        <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.75s">
                            One of the greatest commanders and statesmen of  <br /> Rome  and of all times.
                        </p>
                       
                        <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.75s">
                            Today I will help you.
                        </p>
                        <a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.75s" href="~/Home/Work">LET'S START</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

    