﻿
@{
    ViewBag.Title = "Work";
}

<!-- my resume-start -->

@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="my-resume-area fix gray-bg pt-100 pb-100" id="resume">
        <div class="container">
            <div class="my-resume">
                <div class="row ">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12 pb-40">
                        <div class="my-resume-wrapper text-left">
                            <div class="my-resume-content">

                                <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">      Caesar <span>cipher.</span></h1>

                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 mb-30 sidebar">

                        <div class="autor">
                            <img src="~/Content/img/caesar.jpg" alt="">
                        </div>
                        <div class="my-resume-sidebar">
                            <ul class="nav my-resume-tabs flex-column mt-50 mb-30" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                                       aria-selected="true"><i class="fas fa-graduation-cap"></i>Encrypt</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                                       aria-selected="false"><i class="fas fa-briefcase"></i>Decipher</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contact-tab1" data-toggle="tab" href="#contact1" role="tab" aria-controls="contact"
                                       aria-selected="false"><i class="fas fa-trophy"></i>Keyless decipher</a>
                                </li>



                            </ul>
                        </div>

                    </div>
                    <div class="col-xl-8 col-lg-8 mb-30">
                        <div class="my-resume-content mb-30 ">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="row ">
                                        <div class="col-xl-12">
                                            <div class="content wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                                <h3>- Зашифровка</h3>
                                                <h5>Шифр Цезаря </h5>
                                                <p>Перед вами онлайн калькулятор шифра Цезаря. Он зашифрует входной текст на русском языке. Неалфавитные символы (пробелы, знаки препинания, цифры) — не преобразуются.</p>
                                                <p>В качестве файла принимаются лишь <strong>.txt</strong> и <strong>.docx</strong> файлы</p>
                                            </div>
                                            <div class="content wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                                <div class="container m-2 text-center">
                                                    <textarea name="text1" placeholder="Ваш текст"></textarea>
                                                    <h3 class="text-with-lines"><span>или</span></h3>
                                                    <input type="file" name="file1" class="text-center m-auto" accept="text/plain,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                                                </div>
                                            </div>
                                            <div class="content wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                                <div class="container shadow-card d-flex flex-column">
                                                    <div class="row justify-content-center">
                                                        <span class="f-24 pr-1">Ключ:</span>
                                                        <output class="f-24" id="range1Label">0</output>
                                                    </div>
                                                    <div class="row justify-content-center pr-3 pl-3">
                                                        <span>-32</span>
                                                        <input type="range" id="range1" min="-32" value="0" max="32" step="1" name="cryptionKey" oninput="range1Label.value = range1.value" />
                                                        <span>32</span>
                                                    </div><br />
                                                    <input data-wow-duration="1s" data-wow-delay="0.75s" type="submit" name="action" value="Зашифровать" class="btn btn-lg mt-auto" />
                                                </div>
                                            </div>
                                            <div class=" trad-mark text-right">
                                                <p>Veni vidi vici.</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="content wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                                <h3>- Расшифровка</h3>
                                                <h5>Шифр Цезаря </h5>
                                                <p>Перед вами онлайн калькулятор шифра Цезаря. Он расшифрует входной текст на русском языке. Неалфавитные символы (пробелы, знаки препинания, цифры) — не преобразуются</p>
                                                <p>В качестве файла принимаются лишь <strong>.txt</strong> и <strong>.docx</strong> файлы</p>
                                            </div>
                                            <div class="content wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                                <div class="container m-2 text-center">
                                                    <textarea name="text2" placeholder="Ваш текст"></textarea>
                                                    <h3 class="text-with-lines"><span>или</span></h3>
                                                    <input type="file" name="file2" class="text-center m-auto" accept="text/plain,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                                                </div>
                                            </div>
                                            <div class="content wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                                <div class="container shadow-card d-flex flex-column">
                                                    <div class="row justify-content-center">
                                                        <span class="f-24 pr-1">Ключ:</span>
                                                        <output class="f-24" id="range2Label">0</output>
                                                    </div>
                                                    <div class="row justify-content-center pr-3 pl-3">
                                                        <span>-32</span>
                                                        <input type="range" id="range2" min="-32" value="0" max="32" step="1" name="decryptionKey" oninput="range2Label.value = range2.value" />
                                                        <span>32</span>
                                                    </div><br />
                                                    <input data-wow-duration="1s" data-wow-delay="0.75s" type="submit" name="action" value="Расшифровать" class="btn btn-lg mt-auto" />
                                                </div>
                                            </div>
                                            <div class=" trad-mark text-right">
                                                <p>Veni vidi vici.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="contact1" role="tabpanel" aria-labelledby="contact-tab1">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="content wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                                <h3>- Автоматическая расшифровка</h3>
                                                <h5>Шифр Цезаря </h5>
                                                <p>Перед вами онлайн калькулятор шифра Цезаря. Он выполнит взлом методом частнотного анализа. Входной текст на русском языке. Неалфавитные символы (пробелы, знаки препинания, цифры) — не преобразуются.</p>
                                                <p>В качестве файла принимаются лишь <strong>.txt</strong> и <strong>.docx</strong> файлы</p>
                                            </div>
                                            <div class="content wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                                <div class="container m-2 text-center">
                                                    <textarea name="text3" placeholder="Ваш текст"></textarea>
                                                    <h3 class="text-with-lines"><span>или</span></h3>
                                                    <input type="file" name="file3" class="text-center m-auto" accept="text/plain,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                                                </div>
                                            </div>
                                            <div class="content wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                                <div class="container shadow-card d-flex flex-column">
                                                    <input data-wow-duration="1s" data-wow-delay="0.75s" type="submit" name="action" value="Расшифровать без ключа" class="btn btn-lg mt-auto" />
                                                </div>
                                            </div>

                                            <div class=" trad-mark text-right">
                                                <p>Veni vidi vici.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
    <!--  my resume-end -->