﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="header-menu">
        <div id="header-sticky" class="main-menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-3 col-md-2 col-sm-2">
                        <div class="logo">
                            <a href="index.html"><img opacity: .9; src="~/Content/img/logo.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-9 col-md-10 col-sm-10">

                        <div class="main-menu text-right">
                            <nav>
                                <ul class="navbar-collapse">
                                    <li class="active"><a href="~/">Home</a></li>
                                    <li><a href="~/Home/Work">Work</a></li>
                                    <li><a href="~/Home/Contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
